table {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid black;
	padding: 3px;
}

td.right {
	text-align: right;
}

.message {
	vertical-align: middle;
	text-align: center;
	font-style: italic;	
	height: 4em;
}

#jobDetail {
	font-family: monospace;
	font-size: 10pt;
}
